<div class="voting-booth">
  <div class="voting-booth-closed-prompt-container voting-booth-align-middle-container">
    <div class="voting-booth-closed-prompt voting-booth-align-middle">
      <h1 class="voting-booth-closed-prompt-title">Voting Closed</h1>
      <div class="voting-booth-closed-prompt-subtitle">
        Try again during the next meeting!
      </div>
    </div>
  </div>
  <div class="voting-booth-question-container voting-booth-align-middle-container">
    <div class="voting-booth-question voting-booth-align-middle">
      <div class="branding">
        <%= image_tag "chadev-logo.svg", class: 'branding-logo', alt: 'Chadev' %>
      </div>
      <h1 class="voting-booth-prompt">How was today's lunch?</h1>
      <ul class="voting-booth-items">
        <% voting_booth_items.each do |vote| %>
          <li class="voting-booth-item" data-vote="<%= vote[:emotion] %>">
            <button class="voting-booth-item-action">
              <i class="icon-face-<%= vote[:emotion] %>"></i>
              <div class="voting-booth-item-description">
                <%= vote[:label] %>&hellip;
              </div>
            </button>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="voting-booth-results-container">
    <div class="voting-booth-align-middle-container">
      <% voting_booth_items.each do |vote| %>
        <div class="voting-booth-thanks-prompt voting-booth-align-middle" data-vote="<%= vote[:emotion] %>">
          <i class="icon-face-<%= vote[:emotion] %>"></i>
          <h1 class="voting-booth-thanks-prompt-title">
            <%= vote[:result_title] %>
          </h1>
          <div class="voting-booth-thanks-prompt-subtitle">
            Thanks for your feedback.
          </div>
        </div>
      <% end %>
      <div class="voting-booth-results">
        <ul class="bar-chart">
          <% voting_booth_items.each do |vote| %>
            <li class="bar-chart-item is-<%= vote[:emotion] %>">
              <div class="bar-chart-item-count"></div>
              <div class="bar-chart-item-bar"></div>
              <i class="bar-chart-item-label icon-face-<%= vote[:emotion] %>"></i>
            </li>
          <% end %>
        </ul>

        <div class="voting-booth-results-footer">
          <h5>See you at the next meetup!</h5>
          <p class="voting-booth-byline">
            Created by <a href="http://twitter.com/fixie">@fixie</a> &bull;
            <a href="http://github.com/chadev/chadev-voting-booth">View on GitHub</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
